source https://api.nuget.org/v3/index.json

storage none
framework auto-detect

nuget AWSSDK.DynamoDBv2
nuget FsToolkit.ErrorHandling
nuget Expecto

group Docs
  source https://api.nuget.org/v3/index.json
  framework auto-detect
  storage symlink

  nuget FSharp.Compiler.Service
  nuget FSharp.Formatting
  nuget Newtonsoft.Json